# dependencies
node_modules
/.pnp
.pnp.*


# next.js
.next
/out/


# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env

#Python Env
venv

# typescript
*.tsbuildinfo
next-env.d.ts
